header { 
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
    position: fixed;
    width: 80%;
    height: 80px;
    left:10%;
    background-color: black;
    color: #CBE86B;
    height: 80px;
    text-align: center;
}

header h1{
    margin: 10px 20px;
}
nav {
    font-family: 'Arima Madurai', cursive;
    position: fixed; 
    width: 80%;  
    top: 74px;
    left:10%; 
    background-color:#CBE86B;
    color: black;





}

nav ul{
    margin:0;
    padding:0;
    font-family: 'Hind Madurai', sans-serif;
}
nav li{
    display: inline-block;
    border-top: 1px solid #F2E9E1;
    border-left: 1px solid #F2E9E1;
    border-right: 1px solid #F2E9E1;
    border-top-left-radius:  .5em;
    border-top-right-radius: .5em;
    background-color: #CBE86B;
    font-family: 'Arima Madurai', cursive;
    padding: 5px 20px;
    margin: 0 -4px 0 0;
}

nav li a{
    text-decoration: none;
    color: black;

    
}
nav li a :visited{
    color: black;
}

nav li :hover {
    font-weight: 900;
}
main 
  {
      position: absolute;
      top: 111px;
      width: 70%;
      left:10%;
      background-color: #F2E9E1;
      z-index:-1;
      padding: 2% 5% 2% 5%;
      color: black;
      font-family:'Hind Madurai', sans-serif;

  }

  .selected{
      background-color: silver
  }



